[submodule "MOSA-Project"]
	path = external/MOSA-Project
	url = https://github.com/Arakis/MOSA-Project.git
[submodule "tools"]
	path = tools
	url = https://github.com/abanu-org/abanu-tools.git
[submodule "external/gdb-dashboard"]
	path = external/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
